.foodItem {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(112, 112, 112, 0.084);
    margin-top: 0.5rem;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    border-radius: 8px;
}
.priceAndTitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description {
    display: flex;
    flex-direction: row;
}
.alergens {
    display: flex;
    flex-direction: row;
    color: red;
}
.alergens p {
    padding-right: 0.5rem;
}
