.hero {
    z-index: 5;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background: url('../assets/images/index-small.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    color: #fff;
    font-size: 1.5em;
}
.workTime {
    font-weight: 600;
}
@media only screen and (min-width: 600px) {
    .hero {
        background: url('../assets/images/index.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}
